$slot-width: 115px;
$slot-height: 176px;
$num-rows: 7;
$num-cols: 9;

.gameGrid {
  width: $slot-width * $num-cols;
  height: $slot-height * $num-rows;
  display: grid;
  grid-template: repeat($num-rows, 1fr) / repeat($num-cols, 1fr);
  gap: 0 0;
}

@mixin slotRules {
  border: 1px solid black;
  width: $slot-width;
  height: $slot-height;
}

.cardSlot, .scoreCard {
  @include slotRules();
}

.cardImage {
  width: 100%;
  height: 100%;
}

@mixin grid-item($rowStart, $colStart) {
  grid-row-start: $rowStart;
  grid-row-end: $rowStart + 1;
  grid-column-start: $colStart;
  grid-column-end: $colStart + 1;
}

@for $i from 0 through 4 {
  @for $j from 0 through 4 {
    #cardSlot#{$i}#{$j} {
      @include grid-item($i, $j);
    }
  }
}

@for $i from 0 through 4 {
  .scoreRow#{$i} {
    @include grid-item($i, 5);
  }
}

@for $i from 0 through 4 {
  .scoreCol#{$i} {
    @include grid-item(5, $i);
  }
}

.scoreCard:last-of-type {
  @include grid-item(5, 5);
  @include slotRules();
}

.buttonContainer {
  @include grid-item(0, 8);
}


.deckView {
  @include grid-item(1, 8);
  @include slotRules();
}

.upCard {
  @include grid-item(1, 9);
  @include slotRules();
}